.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-todo {
  border: 3px solid pink;
  margin: 20px;
  padding: 15px
}

.create-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.make-todo-button {
background:    #ead1dc;
border-radius: 17px;
padding:       10px;
color:         #020202;
display:       inline-block;
font:          15px/ sans-serif;
text-align:    center;
margin-top: 10px;
}

.todo-uncompleted {
  border: 2px solid pink;
  margin: 20px;
  padding: 10px;
}

.todo-completed {
  text-decoration: line-through;
  border: 2px solid white;
  margin: 20px;
  padding: 10px;
}

.login-link {
  color: white;
}